@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin; //Firefox
}

html {
  font-size: 10px;
}

body {
  background: #F7F8FA;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.7;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  padding: 0 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.container-fluid {
  padding: 0;
  margin: 0;
}
