.header {
  padding: 2rem 0;
  font-size: 3rem;
}

.inputs {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.2fr;
  column-gap: 3rem;
  margin-top: 1rem;

  .gender {
  }

  .age-slider {
  }

  .results-btn {
    align-self: center;

    button {
      background: #fff;
      transition: background 0.2s;

      &:hover {
        background: #fffcfc;
      }
    }
  }
}

.line {
  height: 1px;
  background: #dad7d7;
  margin: 2.5rem 0;
}

.owners-count {
  font-weight: 600;
  margin-bottom: 20px;
}

.charts {
  display: grid;
  grid-template-columns: 0.45fr 0.55fr;
  margin: 30px 0;

  > div img {
    background: #fff;
    padding: 30px 0;
  }
}

.paginate_button {
  &.active a {
    background: #0188ff;
    border-color: #0188ff;
  }
}
